body{
    background-color: gray;
}
.heading {
    text-align: center;
    font-weight: bold;
    background-color: midnightblue;
        color: white;
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.btn {
    background-color: blue;
    color: white;
}

#results{
    margin-left: 10px;
    margin-top: 10px;
}